
@keyframes titleanimation {
    0%  {color: rgb(64, 19, 155);}
    25% {color: rgba(112, 11, 40, 0.819);}
    50% {color: rgba(101, 10, 36, 0.49);}
    75% {color: orangered;}
    /*100% {color:rgb(226, 43, 128);}*/
    100% {color: rgb(64, 19, 155);}
}
@keyframes linkanimation {
    0% {color:rgba(166, 14, 19, 0.641);}
    50% {color: rgba(54, 27, 27, 0.826);}
    100% {color: rgba(231, 22, 182, 0.827);}
}


body {
    background-image: url(wp7716801.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position-y: 1px;
    background-position-x: center;
    
}


#titlescript {
 color: rgba(26, 12, 126, 0.8);
 font-size: 56px;
 font-weight: 5000;
 font-style: italic;
 text-shadow: 6px 6px 4px rgba(159, 13, 243, 0.578);
 animation-name: titleanimation;
 animation-duration: 6s;
 animation-iteration-count: infinite;
 animation-timing-function: ease-in-out;
 
}


.links {
    width: 90%;
    top: 5px;
    height: 20%;
    margin: 1px 900px;
    padding: 50px;
    font-weight: bold;
    word-spacing: 10px;
    font-size: 24px;
    float: left;
    font-style: italic;
}
a {
    color: rgb(226, 141, 43);
    animation-name: linkanimation;
    text-shadow: 3px 3px 4px rgba(212, 15, 133, 0.703);
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

h2{
    color:rgba(174, 85, 21, 0.899);
}
#ulogin {
    padding: 50px;   
    color: sienna;
}
.button{
    background-color: rgb(127, 180, 255);
    border-radius: 15px;
}
#uname{
    background-color: beige;
    opacity: 0.6;
    border-radius: 9px;
}
#pwd{
    margin-left: 10px;
    background-color: beige;
    opacity: 0.6;
    border-radius: 9px;
}
img {
    position: absolute;
    left: 1280px;
    top: 250px;  
    mix-blend-mode: blur;
    border-radius: 12%;
}